{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="{% static 'common/sakura-dark.css' %}" rel="stylesheet">
        <link href="{% static 'common/style.css' %}" rel="stylesheet">
        {% block header %}
        {% endblock %}
        <title>
            {% block title %}
            Culture Numérique
            {% endblock %}
        </title>
    </head>
    <body>
        {% include "home/navbar.html" %}
        <main>
            {% block main %}
            {% endblock %}
        </main>
    </body>
</html>
